= form_for @environment, html: { class: 'form-inline' } do |e|
  div[class='input-prepend input-append']
    = e.text_field :name, { class: 'form-control', placeholder: :name }
    = e.button class: 'btn btn-primary', type: 'button'
