// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
  max-width: 330px;
  padding: 15px;
  margin: 0px auto;

  .form-control, .btn {
    margin-bottom: 10px;
  }
}
